---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="Apps"></Layout>
  <main transition:animate="slide">
    <div class="m-3 ...">
      <a href="/Portfolio"><span class="material-symbols-outlined">
        home
        </span>
      </a>
    </div>
    <div>
      <ul role="list" class="link-card-grid">
        <Card
          href="/Portfolio"
          title="WIP"
          body="Apps page is a WIP"
        />
      </ul>

    </div>
  </main>
</Layout>