---
import Layout from '../layouts/Layout.astro';
---
<Layout title="template"></Layout>
  <main transition:animate="slide">
    <a href="/Portfolio"><i class="si-home" style="font-size: 32px;"></i></a>
      <script>
          if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark')
          } else {
            document.documentElement.classList.remove('dark')
          }
          
          // Whenever the user explicitly chooses light mode
          localStorage.theme = 'light'
          
          // Whenever the user explicitly chooses dark mode
          localStorage.theme = 'dark'
          
          // Whenever the user explicitly chooses to respect the OS preference
          localStorage.removeItem('theme')
        </script>
      <h1>
          Page used as a basic template so I can easily make new pages.
          <br>
          git add src/pages/basicpage.astro 
          <br>
          git commit -a
          <br>
          git push -u origin
      </h1>
  </main>
</Layout>
