---
import Layout from '../layouts/Layout.astro';
---
<Layout title="ContoSearch"></Layout>
  <main>
  <div class="m-3 ...">
    <a href="/Portfolio"><span class="material-symbols-outlined">
      home
      </span>
    </a>
  </div>
  <div>
  <script async src="https://cse.google.com/cse.js?cx=b569a97257cea4710">
  </script>
  <div class="gcse-search"></div>
  </div>
  </main>
</Layout>

