---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home">
	<main>
		<h1><span class="text-title">Contonium365</span></h1>
				<ul role="list" class="link-card-grid">
			<Card
				href="/Portfolio/YT"
				title="Youtube"
				body="Easyyyy"
			/>
			<Card
				href="/Portfolio/ContoSearch"
				title="CSE"
				body="Custom Search Engine"
			/>
			<Card
			href="/Portfolio/Apps"
			title="My Apps."
			body="Apps developed by Contonium365 (me)"
			/>
			<Card
			href="/Portfolio/ContoGraphing"
			title="Graphing Calculator"
			body="Graphing Calculator for convenient access"
			/>
		</ul>
	</main>
</Layout>