---
import { Tweet, Vimeo, YouTube } from 'astro-embed';
import Layout from '../layouts/Layout.astro';
---
<Layout title="YT"></Layout>
  <main transition:animate="slide">
    <a href="/Portfolio"><i class="si-home" style="font-size: 32px;"></i></a>
    <YouTube
    id="dQw4w9WgXcQ"
    poster="https://images-assets.nasa.gov/image/0302063/0302063~medium.jpg"
    title="I bypassed Ntschools. Get Good"
    />
  </main>
</Layout>